#task_app
  #wheel
  %h1 Welcome the Todo-list
  %p 1) Create a task list
  %p 2) Create the tasks and attack to the lists
  %br
  %p=link_to "Create a new list", "#", id: :new_task_list
  %br
  #new_task_list_form

  %h2 My Lists
  %ul#task_lists

%script{type: "text/html", id: "list_template"}
  = link_to "{{title}}", "#", id: "list_{{id}}"
  %br
  - id = "{{id}}".html_safe
  = link_to "Add task", "/task_lists/#{id}/tasks/new", id: "add_task_#{id}", class: "small", remote: true
  %br
  %div{id: "new_task_form_{{id}}"}


%script{type: "text/template", id: "new_list_template"}
  - @task_list = TaskList.new
  = simple_form_for @task_list, html: { class: :form } do |f|
    = f.input :title
    = f.submit "Add"
  = link_to "I've finished adding lists", "#", id: :done_task_list, class: :btn
  %br

  %script{type: "text/html", id: "task_template"}
    = link_to "{{title}}", "#", id: "task_{{id}}"